body {
  font-family: Arial, sans-serif;
  color: #000000;
  margin: 0;
  background-image: linear-gradient(to right, rgb(144,163,150), rgb(217,235,232));
}

/* Estilos do formulário */
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-image: linear-gradient(to right, rgb(222, 233, 230), rgb(167,168,168));
  
}

@media only screen and (max-width: 767px) {
  form {
    max-width: 90%;
  }
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

input[type="number"] {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8fdf8;
}

input[type="text"] {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f8fdf8;
}

button[type = "button"]:hover{
  background-color: #94d18c;
  cursor: pointer;
}

.btn-class{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

button{
width: 130px;
border: 1px solid #000000;
border-radius: 40px;
padding: 10px;
text-align: center;
background: #057a0f;
color: rgb(255, 255, 255);
transition: 0.5s;
}

